<%= title t('expertise.index.page.t_branding_design') %>

<style type="text/css" data-type="vc_shortcodes-custom-css">
  .vc_custom_1474306346779{
    padding-top: 120px !important;
    padding-bottom: 30px !important;
  }
  .vc_custom_1476803630256{
    padding-top: 4% !important;
    padding-bottom: 2% !important;
  }
  .vc_custom_1476803855931{
    padding-bottom: 3% !important;
  }
  .vc_custom_1476803899585{
    padding-bottom: 3% !important;
  }
  .vc_custom_1474306215627{
    padding-bottom: 7% !important;
  }
  .vc_custom_1474302700327{
    padding-top: 10vh !important;
    padding-bottom: 10vh !important;
    background-color: #fafafa !important;
  }
  .vc_custom_1474302673572{
    padding-top: 0px !important;
    padding-right: 10% !important;
    padding-bottom: 0px !important;
    padding-left: 10% !important;
  }
  .vc_custom_1474302542922{
    padding-top: 0px !important;
    padding-right: 10% !important;
    padding-bottom: 0px !important;
    padding-left: 10% !important;
  }
</style>
<noscript>
  <style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style>
</noscript>

<div class="page page-id-190 page-template-default snap_rows_ thb_row_pagination_off dark-title disable_header_fill-off mm-link-animation-bg-fill color-changing-header-off footer-shadow-light thb-borders-off overflow-off wpb-js-composer js-comp-ver-4.12 vc_responsive">

  <%= render "layouts/shared/logo_header_menu" %>

  <div role="main" class="cf">
    <div class=" post-190 page type-page status-publish hentry">
      <section itemscope itemtype="http://schema.org/Article" class="post portfolio-detail post-55 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-mobile-app" role="article">
        <div class="post-content">
          <div class="row no-padding full-width-row no-column-padding no-row-padding">
            <div class="small-12 large-6 small-order-2 large-order-3">
              <div class="row wpb_row row-fluid">
                <div class="wpb_column columns small-12 medium-12 thb-dark-column">
                  <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                      <div id="thb-image-slider-65" class="thb-image-slider slick thb-image-slider-style1 dark-arrow thb_full_height" data-pagination="true" data-navigation="" data-center="0" data-columns="1" data-infinite="false">
                        <figure class="branding">
                        </figure>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="small-12 large-6 small-order-1 large-order-2">
              <div class="thb-fixed">
                <header class="portfolio-title style6 entry-header">
                  <div class="row max_width">
                    <div class="small-12 columns synopsis-items">
                      <h1 class="entry-title" itemprop="name headline"><%= t('expertise.index.page.t_branding') %></h1>
                      <p>
                        <%= t('expertise.index.page.c_branding1') %>
                      </p>
                      <p>
                        <%= t('expertise.index.page.c_branding2') %>
                      </p>
                    </div>
                  </div>
                </header>
                <div class="sticky-content-spacer"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section itemscope itemtype="http://schema.org/Article" class="post portfolio-detail post-55 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-mobile-app" role="article">
        <div class="post-content">
          <div class="row no-padding full-width-row no-column-padding no-row-padding">
            <div class="small-12 large-6">
              <div class="row wpb_row row-fluid">
                <div class="wpb_column columns small-12 medium-12 thb-dark-column">
                  <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                      <div id="thb-image-slider-65" class="thb-image-slider slick thb-image-slider-style1 dark-arrow thb_full_height" data-pagination="true" data-navigation="" data-center="0" data-columns="1" data-infinite="false">
                        <figure class="design">
                        </figure>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="small-12 large-6 ">
              <div class="thb-fixed">
                <header class="portfolio-title style6 entry-header">
                  <div class="row max_width">
                    <div class="small-12 columns synopsis-items">
                      <h1 class="entry-title" itemprop="name headline"><%= t('expertise.index.page.t_design') %></h1>
                      <p>
                        <%= t('expertise.index.page.c_design1') %><br/>
                        <%= t('expertise.index.page.c_design2') %>
                      </p>
                      <p>
                        <%= t('expertise.index.page.c_design3') %>
                      </p>
                    </div>
                  </div>
                </header>
                <div class="sticky-content-spacer"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="portfolio_nav">
        <div class="row full-width-row nav_bottom">
          <div class="small-5 columns">
            <a href="/expertise" class="post_nav_link prev">
              <div class="inner">
                <%= image_tag('expertise.jpg', :alt => "Expertise") %>
              </div>
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="309.1" height="162.4" viewBox="151.5 346.3 309.1 162.4" enable-background="new 151.47 346.319 309.06 162.356" xml:space="preserve">
                <path d="M151.5 427.5c0 4.5 2 8.8 5.5 11.7l78.5 65.9c2.9 2.4 6.4 3.6 9.8 3.6 4.4 0 8.7-1.9 11.7-5.5 5.4-6.5 4.6-16.1-1.9-21.5l-45.9-38.5H445.2c8.5 0 15.3-6.8 15.3-15.3 0-8.5-6.8-15.3-15.3-15.3H208.3l46.8-39.2c6.5-5.4 7.3-15.1 1.9-21.5 -5.4-6.5-15.1-7.3-21.5-1.9l-78.5 65.9C153.5 418.7 151.5 423 151.5 427.5z"/>
              </svg>
              <strong>
                <%= t('nav_bottom.index.p_page') %>
              </strong>
              <span><%= t('menu.item.expertise') %></span>
            </a>
          </div>
          <%= render "layouts/shared/back" %>
          <div class="small-5 columns">
            <a href="/websites-digital" class="post_nav_link next">
              <div class="inner">
                <%= image_tag('key_visual_digital.jpg', :alt => "Websites & Digital") %>
              </div>
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="309.1" height="162.4" viewBox="151.5 346.3 309.1 162.4" enable-background="new 151.47 346.319 309.06 162.356" xml:space="preserve">
                <path d="M455.1 415.8l-78.5-65.9c-6.5-5.4-16.1-4.6-21.5 1.9 -5.4 6.5-4.6 16.1 1.9 21.5l46.8 39.2H166.8c-8.5 0-15.3 6.8-15.3 15.3 0 8.5 6.8 15.3 15.3 15.3h236l-45.9 38.5c-6.5 5.4-7.3 15.1-1.9 21.5 3 3.6 7.4 5.5 11.7 5.5 3.5 0 7-1.2 9.8-3.6l78.5-65.9c3.5-2.9 5.5-7.2 5.5-11.7S458.5 418.7 455.1 415.8z"/></svg>
              <strong>
                <%= t('nav_bottom.index.n_page') %>
              </strong>
              <span><%= t('home.index.websites_digital') %></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>