<%= title t('home.index.welcome') %>
<style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_1475072484539{margin-top: 100px !important;padding-top: 10vh !important;padding-bottom: 10vh !important;}.vc_custom_1475000210039{padding-top: 10vh !important;padding-bottom: 10vh !important;}.vc_custom_1475009886874{padding-top: 10vh !important;padding-bottom: 10vh !important;background-color: #f9f9f9 !important;}.vc_custom_1475009891356{padding-top: 16vh !important;padding-bottom: 16vh !important;background: #25282a url(http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/h13_01.jpg?id=284) !important;background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}</style><noscript><style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript>

<%= render "layouts/shared/logo_header_menu" %>

<div role="main" class="cf">
    <div class=" post-282 page type-page status-publish hentry">
      <div class="row wpb_row row-fluid align-center vc_custom_1475072484539">
        <div class="text-center wpb_column columns small-12 medium-12 large-10 medium-10 thb-dark-column">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div class="wpb_text_column wpb_content_element  ">
                <div class="wpb_wrapper">
                  <h6><%= t('home.index.welcome')%></h6>
                </div>
              </div>
              <div id="thb-autotype-85" class="thb-autotype">
                <h1 class="title-header">
                  <strong>

                    <span style="font-size: 32px; font-weight: bold;"><%= t('home.index.stable')%></span><br />
                    <span style="font-size: 26px; font-weight: lighter;"><%= t('home.index.stable2')%></span><br />
                    <span style="font-size: 26px; font-weight: lighter;"><%= t('home.index.stable3')%>
                    <div class="thb-autotype-entry" data-thb-loop="1" data-strings="[&quot;<%=t('home.index.corporate_identities') %>&quot;,&quot;<%=t('home.index.logos') %>&quot;,&quot;<%=t('home.index.interiors') %>&quot;,&quot;<%=t('home.index.brand_design') %>&quot;,&quot;<%=t('home.index.corporate_communications') %>&quot;,&quot;<%=t('home.index.marketing_campaigns') %>&quot;,&quot;<%=t('home.index.website') %>&quot;,&quot;<%=t('home.index.mobile_application') %>&quot;]"></div>
                      </span>
                  </strong>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Test portfolio -->
      <div class="row wpb_row row-fluid no-row-padding full-width-row no-column-padding">
        <div class="wpb_column columns small-12 medium-12 thb-dark-column">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div class="row expanded thb-portfolio masonry masonry-style4 style1 " id="portfolio-section-396" data-thb-animation="thb-animate-from-bottom" data-filter="thb-filter-396">
                <div class="columns small-12 medium-6 large-3 padding-2 title-center thb-animate-from-bottom light-title  thb-cat-website  style1 post-39 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-website" id="portfolio-39">
                  <div class="portfolio-holder">
                    <div class="thb-placeholder black-white"></div>
                    <a href="portfolio/black-and-white" title="Black&amp;White" class="portfolio-link" data-size="570x902">
                      <h2><span>Black&amp;White</span></h2>
                      <aside class="thb-categories"><span><%= t('portfolio.index.categiries_portfolio1')%></span></aside>
                    </a>
                  </div>
                </div>
                <div class="columns small-12 medium-6 large-3 padding-1 title-center thb-animate-from-bottom light-title  thb-cat-illustration  style1 post-41 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-illustration" id="portfolio-41">
                  <div class="portfolio-holder">
                    <div class="thb-placeholder olympic-gaming"></div>
                    <a href="/portfolio/olympic-gaming" title="Olympic Gaming" class="portfolio-link" data-size="961x760">
                      <h2><span>Olympic Gaming</span></h2>
                      <aside class="thb-categories"><span><%= t('portfolio.index.categiries_portfolio2')%></span></aside>
                    </a>
                  </div>
                </div>
                <div class="columns small-12 medium-6 large-6 padding-half title-center thb-animate-from-bottom light-title  thb-cat-inspiration  style1 post-47 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-inspiration" id="portfolio-47">
                  <div class="portfolio-holder">
                    <div class="thb-placeholder mahou"></div>
                    <a href="/portfolio/mahou" title="Mahou" class="portfolio-link" data-size="1191x760">
                      <h2><span>Mahou</span></h2>
                      <aside class="thb-categories"><span><%= t('portfolio.index.categiries_portfolio3')%></span></aside>
                    </a>
                  </div>
                </div>
                <div class="columns small-12 medium-6 large-6 padding-half title-center thb-animate-from-bottom light-title  thb-cat-inspiration  style1 post-47 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-inspiration" id="portfolio-47">
                  <div class="portfolio-holder">
                    <div class="thb-placeholder bhent"></div>
                    <a href="/portfolio/bhent" title="Bhent" class="portfolio-link" data-size="1191x760">
                      <h2><span>Bhent</span></h2>
                      <aside class="thb-categories"><span><%= t('portfolio.index.categiries_portfolio4')%></span></aside>
                    </a>
                  </div>
                </div>
                <div class="columns small-12 medium-6 large-3 padding-1 title-center thb-animate-from-bottom light-title  thb-cat-motion  style1 post-57 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-motion" id="portfolio-57">
                  <div class="portfolio-holder">
                    <div class="thb-placeholder lilac"></div>
                    <a href="/portfolio/lilac-travel" title="Lilac Travel" class="portfolio-link" data-size="961x760">
                      <h2><span>Lilac Travel</span></h2>
                      <aside class="thb-categories"><span><%= t('portfolio.index.categiries_portfolio5')%></span></aside>
                    </a>
                  </div>
                </div>
                <div class="thb-preloader">
                  <svg class="thb-preloader-icon-hexagon" width="51" height="55" viewBox="0 0 34 38">
                    <path class="preloader-path" stroke="#ef173b" stroke-dasharray="70 32" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="0" d="M29.437 8.114L19.35 2.132c-1.473-.86-3.207-.86-4.68 0L4.153 8.114C2.68 8.974 1.5 10.56 1.5 12.28v11.964c0 1.718 1.22 3.306 2.69 4.165l10.404 5.98c1.47.86 3.362.86 4.834 0l9.97-5.98c1.472-.86 2.102-2.45 2.102-4.168V12.28c0-1.72-.59-3.306-2.063-4.166z">
                    </path>
                  </svg>
                </div>
              </div>
              <div class="columns small-12 medium-12 large-12 ">
                <h6 style="text-align: center; position: relative; top: 40px;">
                  <%= link_to t('portfolio.index.view_full_portfolio'), portfolio_path %>
                </h6>
              </div>
              <div class="vc_empty_space"  style="height: 20px" ><span class="vc_empty_space_inner"></span></div>
              <div class="vc_empty_space"  style="height: 20px" ><span class="vc_empty_space_inner"></span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="vc_empty_space"  style="height: 20px" ><span class="vc_empty_space_inner"></span></div>
      <!-- End test portfolio-->
      <!-- What we do -->
      <div class="synopsis">
        <div class="row">
          <div class="columns small-12 medium-12 large-10 large-offset-2">
            <h4 style="text-align:;"><%=t('home.index.synopsis') %></h4>
          </div>
        </div>
        <div class="row">
          <div class="columns small-12 medium-6 large-5 large-offset-2">
            <p>
              <%=t('home.index.synopsis1') %><br><br>
              <%= t('home.index.synopsis3') %><br>
              <%= t('home.index.synopsis4') %>
            </p>
          </div>
          <div class="columns small-12 medium-6 large-5">
            <h5 style="text-align: ; font-size: 18px; letter-spacing: 0.02em">
              <%= link_to t('home.index.branding_design'), branding_design_path %><br/>
              <%= link_to t('home.index.websites_digital'), websites_digital_path %><br/>
              <%= link_to t('home.index.marketing_advertising'), marketing_advertising_path %><br/>
              <%= link_to t('home.index.print_packaging'), print_packaging_path %>
            </h5>
            <h6>
              <%= link_to t('home.index.view_expertise'), expertise_path %>
            </h6>
          </div>
        </div>
        <div class="vc_empty_space"  style="height: 20px" ><span class="vc_empty_space_inner"></span></div>
      </div>
      <!-- End what we do -->
    </div>
 </div>
 <!-- End role["main"] -->
