<%= title t('portfolio.index.t_bambou_lounge') %>

<%= render "portfolio/shared/header_css-porfolio" %>

<div class="single single-portfolio postid-43 snap_rows_off thb_row_pagination_off light-title disable_header_fill-off mm-link-animation-bg-fill color-changing-header- footer-shadow-light thb-borders-off overflow-off wpb-js-composer js-comp-ver-4.12 vc_responsive">

  <!-- Start Header -->
  <header class="header style1 menu_style1">
    <div class="row expanded align-middle">
      <div class="small-12 columns regular-header">
        <%= render "portfolio/shared/header_porfolio" %>
      </div>
      <div class="small-12 columns portfolio-header">
        <div class="thb-breadcrumb-holder">
          <%= render "portfolio/shared/view_all" %>
          <span><em>-</em> Bambou Lounge</span>
        </div>
        <%= render "portfolio/shared/share_portfolio" %>
      </div>
    </div>
  </header>
  <!-- End Header -->
  <div role="main" class="cf">
    <section itemscope itemtype="http://schema.org/Article" class="post portfolio-detail post-43 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-mobile-app" role="article">
      <figure class="post-gallery parallax">
        <div class="parallax_bg"
             data-top-bottom="transform: translate3d(0px, 40%, 0px);"
             data-top="transform: translate3d(0px, 0%, 0px);"
             style="background-image: url(http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/m-03.jpg);">
        </div>
        <header class="portfolio-title style1 entry-header">
          <div class="row align-center">
            <div class="small-12 medium-10 large-7 columns">
              <h1 class="entry-title" itemprop="name headline">Bambou Lounge</h1>
              <p>
                <%= t('portfolio.index.descript_bambou_lounge') %>
              </p>
              <div class="portfolio-attributes ">
                <div class="attribute"><strong><%= t('portfolio.index.works') %></strong>  <%= t('portfolio.index.categiries_portfolio3')%></div>
              </div>
            </div>
          </div>
        </header>
        <div class="scroll-bottom">
          <div></div>
        </div>
      </figure>
      <div class="post-content">
        <div class="row wpb_row row-fluid align-center vc_custom_1473346991194">
          <div class="wpb_column columns small-12 medium-12 large-9 medium-10 thb-dark-column">
            <div class="vc_column-inner ">
              <div class="wpb_wrapper">
                <a class="image_link full" rel="magnific" data-size="1024x621" href="/assets/p_bambou-1.jpg" target="" title="">
                  <%= image_tag('p_bambou-1.jpg', :alt => "Bambou Lounge", :class => "thb_image animation bottom-to-top left full  attachment-full", :sizes => "(max-width: 1154px) 100vw, 1154px",  :width => "1154", :height => "700") %>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row wpb_row row-fluid align-center">
          <div class="wpb_column columns small-12 medium-12 large-9 medium-10 thb-dark-column">
            <div class="vc_column-inner ">
              <div class="wpb_wrapper">
                <div class="row wpb_row vc_inner row-fluid">
                  <div class="wpb_column columns small-12 medium-6 thb-dark-column">
                    <div class="vc_column-inner ">
                      <div class="wpb_wrapper">
                        <a class="image_link full" rel="magnific" data-size="964x600" href="/assets/p_bambou-2.jpg" target="" title="">
                          <%= image_tag('p_bambou-2.jpg', :alt => "Bambou Lounge", :class => "thb_image animation bottom-to-top left full  attachment-full", :sizes => "(max-width: 964px) 100vw, 964px",  :width => "964", :height => "600") %>
                        </a>
                        <div class="vc_empty_space"  style="height: 30px" >
                          <span class="vc_empty_space_inner"></span>
                        </div>
                        <a class="image_link full" rel="magnific" data-size="964x600" href="/assets/p_bambou-3.jpg" target="" title="">
                          <%= image_tag('p_bambou-3.jpg', :alt => "Bambou Lounge", :class => "thb_image animation bottom-to-top left full  attachment-full", :sizes => "(max-width: 964px) 100vw, 964px",  :width => "964", :height => "600") %>
                        </a>
                        <div class="vc_empty_space"  style="height: 30px" >
                          <span class="vc_empty_space_inner"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column columns small-12 medium-6 thb-dark-column">
                    <div class="vc_column-inner ">
                      <div class="wpb_wrapper">
                        <a class="image_link full" rel="magnific" data-size="612x795" href="/assets/p_bambou-4.jpg" target="" title="">
                          <%= image_tag('p_bambou-4.jpg', :alt => "Bambou Lounge", :class => "thb_image animation bottom-to-top left full  attachment-full", :sizes => "(max-width: 612px) 100vw, 612px",  :width => "612", :height => "795") %>
                        </a>
                        <div class="vc_empty_space"  style="height: 30px" >
                          <span class="vc_empty_space_inner"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="portfolio_nav">
      <div class="row full-width-row nav_bottom">
        <div class="small-5 columns">
          <a href="/portfolio/smile-restaurant" class="post_nav_link prev">
            <div class="inner">
              <%= image_tag('key_visual_smile.jpg', :alt => "Smile Restaurant") %>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="309.1" height="162.4" viewBox="151.5 346.3 309.1 162.4" enable-background="new 151.47 346.319 309.06 162.356" xml:space="preserve">
              <path d="M151.5 427.5c0 4.5 2 8.8 5.5 11.7l78.5 65.9c2.9 2.4 6.4 3.6 9.8 3.6 4.4 0 8.7-1.9 11.7-5.5 5.4-6.5 4.6-16.1-1.9-21.5l-45.9-38.5H445.2c8.5 0 15.3-6.8 15.3-15.3 0-8.5-6.8-15.3-15.3-15.3H208.3l46.8-39.2c6.5-5.4 7.3-15.1 1.9-21.5 -5.4-6.5-15.1-7.3-21.5-1.9l-78.5 65.9C153.5 418.7 151.5 423 151.5 427.5z"/>
            </svg>
            <strong>
              <%= t('nav_bottom.index.p_project') %>
            </strong>
            <span>Smile Restaurant</span>
          </a>
        </div>
        <%= render "portfolio/shared/back" %>
        <div class="small-5 columns">
          <a href="/portfolio/solim" class="post_nav_link next">
            <div class="inner">
              <%= image_tag('key_visual_solim.jpg', :alt => "Solim") %>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="309.1" height="162.4" viewBox="151.5 346.3 309.1 162.4" enable-background="new 151.47 346.319 309.06 162.356" xml:space="preserve">
              <path d="M455.1 415.8l-78.5-65.9c-6.5-5.4-16.1-4.6-21.5 1.9 -5.4 6.5-4.6 16.1 1.9 21.5l46.8 39.2H166.8c-8.5 0-15.3 6.8-15.3 15.3 0 8.5 6.8 15.3 15.3 15.3h236l-45.9 38.5c-6.5 5.4-7.3 15.1-1.9 21.5 3 3.6 7.4 5.5 11.7 5.5 3.5 0 7-1.2 9.8-3.6l78.5-65.9c3.5-2.9 5.5-7.2 5.5-11.7S458.5 418.7 455.1 415.8z"/>
            </svg>
            <strong>
              <%= t('nav_bottom.index.n_project') %>
            </strong>
            <span>Solim</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- End role["main"] -->
</div>