<%= title t('portfolio.index.title_portfolio') %>

<style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_1475072484539{margin-top: 100px !important;padding-top: 10vh !important;padding-bottom: 10vh !important;}.vc_custom_1475000210039{padding-top: 10vh !important;padding-bottom: 10vh !important;}.vc_custom_1475009886874{padding-top: 10vh !important;padding-bottom: 10vh !important;background-color: #f9f9f9 !important;}.vc_custom_1475009891356{padding-top: 16vh !important;padding-bottom: 16vh !important;background: #25282a url(http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/h13_01.jpg?id=284) !important;background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}</style><noscript><style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript>

<%= render "layouts/shared/logo_header_menu" %>

<div role="main" class="cf">
  <div class=" post-282 page type-page status-publish hentry">
    <div class="row align-center vc_custom_1475072484539">
      <div class="text-center wpb_column columns small-12 medium-12 large-10">
        <div class="vc_column-inner ">
          <div class="wpb_wrapper">
            <h6><%= t('portfolio.index.title_portfolio')%></h6>
          </div>
        </div>
      </div>
    </div>
    <!--Test portfolio -->
    <div class="row wpb_row row-fluid no-row-padding full-width-row no-column-padding">
      <div class="wpb_column columns small-12 medium-12 thb-dark-column">
        <div class="vc_column-inner ">
          <div class="wpb_wrapper">
            <div class="row expanded thb-portfolio masonry masonry-style4 style1 " id="portfolio-section-396" data-thb-animation="thb-animate-from-bottom" data-filter="thb-filter-396">
              <div class="columns small-12 medium-6 large-3 padding-1 title-center thb-animate-from-bottom light-title  thb-cat-illustration  style1 post-41 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-illustration" id="portfolio-41">
                <div class="portfolio-holder">
                  <div class="thb-placeholder black-white"></div>
                  <a href="/portfolio/black-and-white" title="Black&White" class="portfolio-link" data-size="961x760">
                    <h2><span>Black&White</span></h2>
                    <aside class="thb-categories"><span><%= t('portfolio.index.categiries_portfolio1')%></span></aside>
                  </a>
                </div>
              </div>
              <div class="columns small-12 medium-6 large-3 padding-1 title-center thb-animate-from-bottom light-title  thb-cat-illustration  style1 post-41 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-illustration" id="portfolio-41">
                <div class="portfolio-holder">
                  <div class="thb-placeholder olympic-gaming"></div>
                  <a href="/portfolio/olympic-gaming" title="Olympic Gaming" class="portfolio-link" data-size="961x760">
                    <h2><span>Olympic Gaming</span></h2>
                    <aside class="thb-categories"><span><%= t('portfolio.index.categiries_portfolio2')%></span></aside>
                  </a>
                </div>
              </div>
              <div class="columns small-12 medium-6 large-3 padding-1 title-center thb-animate-from-bottom light-title  thb-cat-illustration  style1 post-41 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-illustration" id="portfolio-41">
                <div class="portfolio-holder">
                  <div class="thb-placeholder mahou"></div>
                  <a href="/portfolio/mahou" title="Mehou" class="portfolio-link" data-size="961x760">
                    <h2><span>Mahou</span></h2>
                    <aside class="thb-categories"><span><%= t('portfolio.index.categiries_portfolio3')%></span></aside>
                  </a>
                </div>
              </div>
              <div class="columns small-12 medium-6 large-3 padding-1 title-center thb-animate-from-bottom light-title  thb-cat-illustration  style1 post-41 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-illustration" id="portfolio-41">
                <div class="portfolio-holder">
                  <div class="thb-placeholder bobolo"></div>
                  <a href="/portfolio/bobolo" title="Bobolo" class="portfolio-link" data-size="961x760">
                    <h2><span>Bobolo</span></h2>
                    <aside class="thb-categories"><span><%= t('portfolio.index.categiries_portfolio11')%></span></aside>
                  </a>
                </div>
              </div>
              <div class="columns small-12 medium-6 large-3 padding-1 title-center thb-animate-from-bottom light-title  thb-cat-illustration  style1 post-41 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-illustration" id="portfolio-41">
                <div class="portfolio-holder">
                  <div class="thb-placeholder nao"></div>
                  <a href="/portfolio/nao" title="Nao" class="portfolio-link" data-size="961x760">
                    <h2><span>Nao</span></h2>
                    <aside class="thb-categories"><span><%= t('portfolio.index.categiries_portfolio5')%></span></aside>
                  </a>
                </div>
              </div>
              <!--<div class="columns small-12 medium-6 large-3 padding-1 title-center thb-animate-from-bottom light-title  thb-cat-illustration  style1 post-41 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-illustration" id="portfolio-41">-->
                <!--<div class="portfolio-holder">-->
                  <!--<div class="thb-placeholder olialima"></div>-->
                  <!--<a href="/portfolio/olialima" title="Olialima" class="portfolio-link" data-size="961x760">-->
                    <!--<h2><span>Olialima</span></h2>-->
                    <!--<aside class="thb-categories"><span><%= t('portfolio.index.categiries_portfolio6')%></span></aside>-->
                  <!--</a>-->
                <!--</div>-->
              <!--</div>-->
              <div class="columns small-12 medium-6 large-3 padding-1 title-center thb-animate-from-bottom light-title  thb-cat-illustration  style1 post-41 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-illustration" id="portfolio-41">
                <div class="portfolio-holder">
                  <div class="thb-placeholder bhent"></div>
                  <a href="/portfolio/bhent" title="Bhent" class="portfolio-link" data-size="961x760">
                    <h2><span>Bhent</span></h2>
                    <aside class="thb-categories"><span><%= t('portfolio.index.categiries_portfolio4')%></span></aside>
                  </a>
                </div>
              </div>
              <div class="columns small-12 medium-6 large-3 padding-1 title-center thb-animate-from-bottom light-title  thb-cat-motion  style1 post-57 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-motion" id="portfolio-57">
                <div class="portfolio-holder">
                  <div class="thb-placeholder lilac"></div>
                  <a href="/portfolio/lilac-travel" title="Lilac Travel" class="portfolio-link" data-size="961x760">
                    <h2><span>Lilac Travel</span></h2>
                    <aside class="thb-categories"><span><%= t('portfolio.index.categiries_portfolio5')%></span></aside>
                  </a>
                </div>
              </div>
              <div class="columns small-12 medium-6 large-3 padding-1 title-center thb-animate-from-bottom light-title  thb-cat-illustration  style1 post-41 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-illustration" id="portfolio-41">
                <div class="portfolio-holder">
                  <div class="thb-placeholder smile"></div>
                  <a href="/portfolio/smile-restaurant" title="Smile Restaurant" class="portfolio-link" data-size="961x760">
                    <h2><span>Smile Restaurant</span></h2>
                    <aside class="thb-categories"><span><%= t('portfolio.index.categiries_portfolio7')%></span></aside>
                  </a>
                </div>
              </div>
              <div class="columns small-12 medium-6 large-3 padding-1 title-center thb-animate-from-bottom light-title  thb-cat-illustration  style1 post-41 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-illustration" id="portfolio-41">
                <div class="portfolio-holder">
                  <div class="thb-placeholder bambou-lounge"></div>
                  <a href="/portfolio/bambou-lounge" title="Bambou Lounge" class="portfolio-link" data-size="961x760">
                    <h2><span>Bambou Lounge</span></h2>
                    <aside class="thb-categories"><span><%= t('portfolio.index.categiries_portfolio3')%></span></aside>
                  </a>
                </div>
              </div>
              <!--<div class="columns small-12 medium-6 large-3 padding-1 title-center thb-animate-from-bottom light-title  thb-cat-illustration  style1 post-41 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-illustration" id="portfolio-41">-->
                <!--<div class="portfolio-holder">-->
                  <!--<div class="thb-placeholder le-bois-sainte-anastasie"></div>-->
                  <!--<a href="/portfolio/le-bois-sainte-anastasie" title="Le Bois Sainte Anastasie" class="portfolio-link" data-size="961x760">-->
                    <!--<h2><span>Le Bois Sainte Anastasie</span></h2>-->
                    <!--<aside class="thb-categories"><span><%= t('portfolio.index.categiries_portfolio8')%></span></aside>-->
                  <!--</a>-->
                <!--</div>-->
              <!--</div>-->
              <div class="columns small-12 medium-6 large-3 padding-1 title-center thb-animate-from-bottom light-title  thb-cat-illustration  style1 post-41 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-illustration" id="portfolio-41">
                <div class="portfolio-holder">
                  <div class="thb-placeholder solim"></div>
                  <a href="/portfolio/solim" title="Solim" class="portfolio-link" data-size="961x760">
                    <h2><span>Solim</span></h2>
                    <aside class="thb-categories"><span><%= t('portfolio.index.categiries_portfolio9')%></span></aside>
                  </a>
                </div>
              </div>
              <div class="columns small-12 medium-6 large-3 padding-1 title-center thb-animate-from-bottom light-title  thb-cat-illustration  style1 post-41 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-illustration" id="portfolio-41">
                <div class="portfolio-holder">
                  <div class="thb-placeholder la-maison-du-cafe"></div>
                  <a href="/portfolio/la-maison-du-cafe" title="La Maison Du Cafe" class="portfolio-link" data-size="961x760">
                    <h2><span>La Maison Du Cafe</span></h2>
                    <aside class="thb-categories"><span><%= t('portfolio.index.categiries_portfolio10')%></span></aside>
                  </a>
                </div>
              </div>
              <!--<div class="columns small-12 medium-6 large-3 padding-1 title-center thb-animate-from-bottom light-title  thb-cat-illustration  style1 post-41 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-illustration" id="portfolio-41">-->
                <!--<div class="portfolio-holder">-->
                  <!--<div class="thb-placeholder express-informatique"></div>-->
                  <!--<a href="/portfolio/express-informatique" title="Express Informatique" class="portfolio-link" data-size="961x760">-->
                    <!--<h2><span>Express Informatique</span></h2>-->
                    <!--<aside class="thb-categories"><span><%= t('portfolio.index.categiries_portfolio8')%></span></aside>-->
                  <!--</a>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="columns small-12 medium-6 large-3 padding-1 title-center thb-animate-from-bottom light-title  thb-cat-illustration  style1 post-41 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-illustration" id="portfolio-41">-->
                <!--<div class="portfolio-holder">-->
                  <!--<div class="thb-placeholder makkrol"></div>-->
                  <!--<a href="/portfolio/makkrol" title="Makkrol" class="portfolio-link" data-size="961x760">-->
                    <!--<h2><span>Makkrol</span></h2>-->
                    <!--<aside class="thb-categories"><span><%= t('portfolio.index.categiries_portfolio8')%></span></aside>-->
                  <!--</a>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="columns small-12 medium-6 large-6 padding-half title-center thb-animate-from-bottom light-title  thb-cat-inspiration  style1 post-47 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-inspiration" id="portfolio-47">-->
                <!--<div class="portfolio-holder">-->
                  <!--<div class="thb-placeholder mahou"></div>-->
                  <!--<a href="/portfolio/mahou" title="Mahou" class="portfolio-link" data-size="1191x760">-->
                    <!--<h2><span>Mahou</span></h2>-->
                    <!--<aside class="thb-categories"><span><%= t('home.index.categiries_portfolio3')%></span></aside>-->
                  <!--</a>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="columns small-12 medium-6 large-6 padding-half title-center thb-animate-from-bottom light-title  thb-cat-inspiration  style1 post-47 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-inspiration" id="portfolio-47">-->
                <!--<div class="portfolio-holder">-->
                  <!--<div class="thb-placeholder bhent"></div>-->
                  <!--<a href="/portfolio/bhent" title="Bhent" class="portfolio-link" data-size="1191x760">-->
                    <!--<h2><span>Bhent</span></h2>-->
                    <!--<aside class="thb-categories"><span><%= t('home.index.categiries_portfolio4')%></span></aside>-->
                  <!--</a>-->
                <!--</div>-->
              <!--</div>-->
              <div class="thb-preloader">
                <svg class="thb-preloader-icon-hexagon" width="51" height="55" viewBox="0 0 34 38">
                  <path class="preloader-path" stroke="#ef173b" stroke-dasharray="70 32" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="0" d="M29.437 8.114L19.35 2.132c-1.473-.86-3.207-.86-4.68 0L4.153 8.114C2.68 8.974 1.5 10.56 1.5 12.28v11.964c0 1.718 1.22 3.306 2.69 4.165l10.404 5.98c1.47.86 3.362.86 4.834 0l9.97-5.98c1.472-.86 2.102-2.45 2.102-4.168V12.28c0-1.72-.59-3.306-2.063-4.166z">
                  </path>
                </svg>
              </div>
            </div>
            <div class="vc_empty_space"  style="height: 20px" ><span class="vc_empty_space_inner"></span></div>
            <div class="vc_empty_space"  style="height: 20px" ><span class="vc_empty_space_inner"></span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="vc_empty_space"  style="height: 20px" ><span class="vc_empty_space_inner"></span></div>
    <!-- End test portfolio-->
    <div class="portfolio_nav">
      <div class="row full-width-row nav_bottom">
        <div class="small-5 columns">
        </div>
        <%= render "layouts/shared/back" %>
        <div class="small-5 columns">
          <a href="/expertise" class="post_nav_link next">
            <div class="inner">
              <%= image_tag('expertise.jpg', :alt => "Expertise") %>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="309.1" height="162.4" viewBox="151.5 346.3 309.1 162.4" enable-background="new 151.47 346.319 309.06 162.356" xml:space="preserve">
              <path d="M455.1 415.8l-78.5-65.9c-6.5-5.4-16.1-4.6-21.5 1.9 -5.4 6.5-4.6 16.1 1.9 21.5l46.8 39.2H166.8c-8.5 0-15.3 6.8-15.3 15.3 0 8.5 6.8 15.3 15.3 15.3h236l-45.9 38.5c-6.5 5.4-7.3 15.1-1.9 21.5 3 3.6 7.4 5.5 11.7 5.5 3.5 0 7-1.2 9.8-3.6l78.5-65.9c3.5-2.9 5.5-7.2 5.5-11.7S458.5 418.7 455.1 415.8z"/></svg>
            <strong>
              <%= t('nav_bottom.index.n_page') %>
            </strong>
            <span><%= t('about.index.expertise') %></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End role["main"] -->
