<style id='thb-app-inline-css' type='text/css'>
  .postid-255 .post-gallery.parallax {min-height:vh;}.postid-255 .post-gallery.parallax .parallax_bg {;}.postid-255 .portfolio-title.style2 {;}input[type="submit"],.button,.btn {}@media only screen and (min-width:64.063em) {#mobile-menu.style1 {width:50%;}}.thb-portfolio #portfolio-274.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-274.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-274.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-270.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-270.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-270.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-265.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-265.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-265.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-263.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-263.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-263.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-238.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-238.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-238.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:rgba(225,233,238,0.95);}.thb-portfolio #portfolio-236.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-236.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-236.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:rgba(190,191,205,0.95);}.thb-portfolio #portfolio-234.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-234.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-234.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:#e2ede6;}.thb-portfolio #portfolio-232.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-232.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-232.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:#e3dfe6;}.thb-portfolio #portfolio-230.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-230.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-230.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:#f8f1ed;}.thb-portfolio #portfolio-228.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-228.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-228.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:#dce8ed;}.thb-portfolio #portfolio-226.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-226.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-226.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:#e3e2e7;}.thb-portfolio #portfolio-224.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-224.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-224.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:#e2dbd6;}.thb-portfolio #portfolio-64.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-64.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-64.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-60.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-60.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-60.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-62.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-62.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-62.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-57.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-57.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-57.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-55.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-55.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-55.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-52.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-52.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-52.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-49.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-49.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-49.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-47.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-47.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-47.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-45.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-45.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-45.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-43.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-43.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-43.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-41.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-41.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-41.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.thb-portfolio #portfolio-39.type-portfolio.style3:hover .portfolio-holder,.thb-portfolio #portfolio-39.type-portfolio:not(.thb-gradient-hover) .portfolio-link,.thb-portfolio #portfolio-39.type-portfolio.style2 .portfolio-holder .portfolio-inner:not(.thb-image-hover) {background:;}.page-id-255 #wrapper div[role="main"] {}
</style>

<div class="single single-post postid-255 single-format-standard snap_rows_ thb_row_pagination_  disable_header_fill-off mm-link-animation-bg-fill color-changing-header- footer-shadow-light thb-borders-off overflow-off wpb-js-composer js-comp-ver-4.12 vc_responsive">


  <!-- Start Header -->
  <header class="header style1 menu_style1">
    <div class="row expanded align-middle">
      <div class="small-12 columns regular-header">
        <%= render "blog/shared/header_blog" %>
      </div>
      <div class="small-12 columns portfolio-header">
        <div class="thb-breadcrumb-holder">
          <%= render "blog/shared/view_all" %>
          <span><em>-</em> Henri Barande’s Saatchi Gallery exhibition monograph</span>
        </div>
        <%= render "blog/shared/share_blog" %>
      </div>
    </div>
  </header>
  <!-- End Header -->	<div role="main" class="cf"><div class="blog-container page-padding">
  <article itemscope itemtype="http://schema.org/Article" class="post post-detail post-255 type-post status-publish format-standard has-post-thumbnail hentry category-interviews tag-exhibition tag-henri-barande tag-monograph tag-saatchi" role="article">
    <figure class="post-gallery parallax" style="height: 40rem">
      <div class="parallax_bg"
           data-top-bottom="transform: translate3d(0px, 40%, 0px);"
           data-top="transform: translate3d(0px, 0%, 0px);"
           >
             <%= image_tag('joe_bhent.jpg', class: 'back-details') %>
      </div>
      <header class="post-title entry-header">
        <div class="row align-center">
          <div class="small-12 medium-10 large-7 columns">
            <aside class="post-category">
              <a href="../category/interviews/index.html" rel="category tag">Interviews</a>					
            </aside>
            <h1 class="entry-title" itemprop="name headline">Henri Barande’s Saatchi Gallery exhibition monograph</h1>					<aside class="post-meta">
            <a href="../author/ftwerkstat/index.html" title="Posts by Ant Eksiler" rel="author">Ant Eksiler</a> on September 23, 2016					
            </aside>
          </div>
        </div>
      </header>
    </figure>
    <div class="row align-center">
      <div class="small-12 medium-10 large-7 columns">
        <div class="post-content">
          <h2><strong>To mark the first UK show of artist Henri Barande, graphic designer </strong>Christoph Stolberg<strong> and German studio Schultzschultz have created Henri Barande.</strong></h2>
          <p>Most times, ideacide happens without us even realizing it. A possible off-the-wall idea or solution appears like a blip and disappears without us even realizing. As a result, some of our best stuff is suppressed before even getting out into the world. Whether it’s because we’re too critical or because we recoil at the impending pain of change, the <span style="color: #1f1f1f;"><strong>disruption of normalcy</strong></span>, self-censoring arises out of fear. Welsh novelist Sarah Waters sums it up eloquently: “Midway through writing a novel, I have regularly experienced moments of bowel-curdling terror, as I contemplate the drivel on the screen before me and see beyond it, in quick succession, the derisive reviews, the friends’ embarrassment, the failing career, the dwindling income, the repossessed house, the divorce…”<br />
            We know self-censoring by many names. Carl Jung called it our “inner critic.” <em>Michael Ray and Rochelle Myers called</em> it the “voice of judgment” in their classic book, Creativity in Business, based on a popular course they co-taught at <span style="color: #1f1f1f;"><strong>Stanford University</strong></span> Graduate Business School. Novelist and screenwriter Steven Pressfield called it “Resistance,” writing that it is “the most toxic force on the planet” and that it is “a monster.”</p>
          <p>&nbsp;</p>
          <p><img class="aligncenter wp-image-6 size-full" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/wp-content/uploads/sites/3/2016/08/blog_01.jpg" alt="blog_01" width="1154" height="700" srcset="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/08/blog_01.jpg 1154w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/08/blog_01-768x466.jpg 768w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/08/blog_01-1024x621.jpg 1024w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/08/blog_01-600x364.jpg 600w" sizes="(max-width: 1154px) 100vw, 1154px" /></p>
          <p><img class="aligncenter wp-image-9 size-full" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/wp-content/uploads/sites/3/2016/08/blog_2.jpg" alt="blog_2" width="1154" height="700" srcset="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/08/blog_2.jpg 1154w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/08/blog_2-768x466.jpg 768w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/08/blog_2-1024x621.jpg 1024w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/08/blog_2-600x364.jpg 600w" sizes="(max-width: 1154px) 100vw, 1154px" /></p>
          <p>&nbsp;</p>
          <p>One touch of a red-hot stove is usually all we need to avoid that kind of discomfort in the future. The same is true as we experience the emotional sensation of stress from our first instances of social rejection or ridicule. We quickly learn to fear and thus automatically avoid potentially stressful situations of all kinds, including the most common of all: making mistakes. Researchers <span style="color: #1f1f1f;"><strong>Robert Reinhart</strong></span> and <span style="color: #1f1f1f;"><strong>Geoffrey Woodman</strong></span> of Vanderbilt University refer to this phenomenon as the “Oops! Response,” which is the product of the adrenaline-fueled, threat-protection system in our brain that not only governs our fight-flight-surrender response, but that also enables us to learn from our mistakes. This response is important for our ability to learn from mistakes, but it also gives rise to self-criticism, because it is part of the threat-protection system. In other words, what keeps us safe can go too far, and keep us too safe. In fact, it can trigger self-censoring.</p>
          <p>This response is important for our ability to learn from mistakes, but it also gives rise to self-criticism, because it is part of the threat-protection system. In other words, what keeps us safe can go too far, and keep us too safe. In fact, it can trigger self-censoring.</p>
          <blockquote><p>Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time.</p></blockquote>
          <p>That immediately brought to mind one of my fondest memories, <span style="text-decoration: underline; color: #1f1f1f;">involving my daughter when she was just</span> a toddler of one: taking her with me on the short walk to check the mail. I live in a small enclave of homes in which all the mailboxes are together in a central location, less than a minute’s walk from my front door…when I walk alone, that is. When I would take my daughter with me it was easily 20 minutes. Everything along the way, to and from, fascinated her: every pebble, ant, stick, leaf, blade of grass, and crack in the sidewalk was something to be picked up, looked at, tasted, smelled, and shaken. Everything was interesting to her. She knew nothing. I knew everything…been there, done that. She was in the moment, I was in the past. She was mindful. I was mindless.</p>
          <p><strong><span style="color: #1f1f1f; font-size: 26px; line-height: 36px;">Defaulting to Mindfulness: The Third Person Effect</span></strong></p>
          <p>Part of the answer is something psychologists refer to it as self-distancing, a term coined by researchers Ethan Kross and Ozlem Ayduk. What spurred Ethan Kross to investigate the concept in the first place was an act of mindlessness: He accidentally ran a red light. <del>He scolded himself by saying out loud</del>, “Ethan, you idiot!” Referring to himself in the third person made him wonder if there might be something more to this quirk of speech, and if it might represent a method for changing one’s perspective.</p>
          <p>The short answer is yes. <strong>According to Kross</strong>, when you think of yourself as another person, it allows you give yourself more objective, helpful feedback.</p>
          <p>Both of these assumptions, of course, could be entirely false. Self-censoring is firmly rooted in our experiences with mistakes in the past and not the present. The brain messages arising from those experiences can be deceptive. And if what our censoring self thinks it “knows” may in fact not be true, then automatically accepting it as some sort of inert truth is indeed mindless and self-defeating. Langer agrees: “<span style="color: #1f1f1f;"><strong>When you think ‘I know’ and ‘it is,’ you have the illusion of knowing, the illusion of certainty, and then you’re mindless.</strong></span>” Langer argues that we must learn to look at the world in a more conditional way, versus an absolute way. Understanding that the way we are looking at things is merely one among many different ways of looking at them requires us to embrace uncertainty.</p>

        </div>

        <footer class="article-tags entry-footer">
          <a href="../tag/exhibition/index.html" title="" class="tag-link">exhibition</a> <a href="../tag/henri-barande/index.html" title="" class="tag-link">henri barande</a> <a href="../tag/monograph/index.html" title="" class="tag-link">monograph</a> <a href="../tag/saatchi/index.html" title="" class="tag-link">saatchi</a></footer>

        <section id="authorpage" class="authorpage cf">
          <img alt='' src='http://1.gravatar.com/avatar/1dadee42172df5042f0c4643f9fbbe6f?s=140&amp;d=mm&amp;r=g' srcset='http://1.gravatar.com/avatar/1dadee42172df5042f0c4643f9fbbe6f?s=280&amp;d=mm&amp;r=g 2x' class='avatar avatar-140 photo' height='140' width='140' />	<div class="author-content">
          <h3><a href="../author/ftwerkstat/index.html" class="author-link">Ant Eksiler</a></h3>
          <p>Gregg the butcher and his little boy, and two or three loafers and golf caddies who were accustomed to hang about the railway station.</p>
          <a href="http://werkstatt.fuelthemes.net/" class="square-icon" target="_blank"><i class="fa fa-link"></i></a>
        </div>
        </section>

      </div>
    </div>
    </article>

    <!-- Start #comments -->


    <div class="respond-container">
      <div class="row align-center">
        <div class="small-12 medium-10 large-7 columns">
          <div id="respond" class="comment-respond">
            <h4 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="index.html#respond" style="display:none;">Cancel reply</a></small></h4>				<form action="http://werkstatt.fuelthemes.net/werkstatt-agency-simple/wp-comments-post.php?wpe-comment-post=ftwerkstat" method="post" id="form-comment" class="comment-form">
            <p class="comment-notes">Your email address will not be published.</p><div class="row"><div class="small-12 columns"><textarea name="comment" id="comment" aria-required="true" data-required="true" rows="3" cols="58" class="full" placeholder="Your Comment"></textarea></div></div><div class="row"><div class="small-12 medium-6 columns"><input id="author" name="author" type="text" value="" size="30" aria-required="true" data-required="true" placeholder="Name" class="full"/></div>
            <div class="small-12 medium-6 columns"><input id="email" name="email" type="text" value="" size="30" aria-required="true" data-required="true" placeholder="Email" class="full" /></div>
            <div class="small-12 columns"><input name="url" size="30" id="url" value="" type="text" placeholder="Website" class="full"/></div></div>
            <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit btn" value="Submit Comment" /> <input type='hidden' name='comment_post_ID' value='255' id='comment_post_ID' />
              <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
            </p>				</form>
          </div><!-- #respond -->
        </div>
      </div>
    </div>
    <!-- End #comments --><!-- End #comments -->
    <div class="portfolio_nav">
      <div class="row full-width-row">
        <div class="small-5 columns">
          <a href="../martin-muller-designs-covers-for-specious-books/index.html" class="post_nav_link prev">
            <div class="inner"><img src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/17-400x300.jpg" alt="Martin Müller designs covers for Specious Books" /></div>						
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="309.1" height="162.4" viewBox="151.5 346.3 309.1 162.4" enable-background="new 151.47 346.319 309.06 162.356" xml:space="preserve"><path d="M151.5 427.5c0 4.5 2 8.8 5.5 11.7l78.5 65.9c2.9 2.4 6.4 3.6 9.8 3.6 4.4 0 8.7-1.9 11.7-5.5 5.4-6.5 4.6-16.1-1.9-21.5l-45.9-38.5H445.2c8.5 0 15.3-6.8 15.3-15.3 0-8.5-6.8-15.3-15.3-15.3H208.3l46.8-39.2c6.5-5.4 7.3-15.1 1.9-21.5 -5.4-6.5-15.1-7.3-21.5-1.9l-78.5 65.9C153.5 418.7 151.5 423 151.5 427.5z"/></svg>						<strong>
            Previous Post (p)													
            </strong>
            <span>Martin Müller designs covers for Specious Books</span>
          </a>
        </div>
        <%= render "blog/shared/back" %>
        <div class="small-5 columns">
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- End role["main"] -->

</div>